// // Pywal example
//
// // {
// //     "wallpaper": "/home/nick/Pictures/Wallpapers/32.jpg",
// //     "alpha": "100",
// //
// //     "special": {
// //         "background": "#2
// // 5120f",
// //         "foreground": "#c8c3c3",
// //         "cursor": "#c8c3c3"
// //     },
// //     "colors": {
// //         "color0": "#25120f",
// //         "color1": "#bc5c4e",
// //         "color2": "#ac7465",
// //         "color3": "#c68c59",
// //         "color4": "#c5a282",
// //         "color5": "#c6beb4",
// //         "color6": "#a8898e",
// //         "color7": "#c8c3c3",
// //         "color8": "#5b4d4b",
// //         "color9": "#bc5c4e",
// //         "color10": "#ac7465",
// //         "color11": "#c68c59",
// //         "color12": "#c5a282",
// //         "color13": "#c6beb4",
// //         "color14": "#a8898e",
// //         "color15": "#c8c3c3"
// //     }
// // }
//
// Special
$background: #0a0a09;
$foreground: #c5c8c5;
$cursor: #c5c8c5;

// Colors
$color0: #0a0a09;
$color1: #6c6559;
$color2: #995c38;
$color3: #8f7359;
$color4: #a28e6e;
$color5: #cb9d6d;
$color6: #778386;
$color7: #c5c8c5;
$color8: #898c89;
$color9: #6c6559;
$color10: #995c38;
$color11: #8f7359;
$color12: #a28e6e;
$color13: #cb9d6d;
$color14: #778386;
$color15: #c5c8c5;

// @import "~/.cache/wal/colors.scss";
