.logo {
  background-color: rgba($color2, 0.4);
  min-width: 15px;
  border-radius: 1rem;
  padding: 0px 4px 0px 4px;
  color: $foreground;
  border: 2px solid $color2;
  box-shadow: $box-shadow;

  transition: background 0.2s;

  label {
    font-size: 0.9rem;
    font-family: $icon-font;
  }

  &:hover {
    background: $color2;
  }
}

.logo-active {
  background: $color2;
}
