.music {
  @include window;
  //  border: 2px solid $color10;
}

.music-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 6rem;
  min-width: 6rem;
}

.music-text {
  margin-left: 1rem;
}

.music-title {
  font-size: 1.1rem;
  margin-top: 0.8rem;
}

.music-artist {
  color: $foreground;
}

.music-name {
  background-color: $color10;
  color: $foreground;
  padding: 0.25rem 0.5rem;
  border-radius: $default-border-radius;
  font-size: 1rem;
  box-shadow: $box-shadow;
}

.music-action {
  font-size: 1.5rem;
  min-width: 3rem;
}

.music-scale {
  margin-top: 1rem;
}

.music-scale trough {
  background-color: $background;
  border-radius: 1rem;
  min-height: 0.5rem;
}

.music-scale highlight {
  background-color: $color10;
  border-radius: 1rem;
  min-height: 0.5rem;
}

.music-strtime {
  color: $foreground;
  margin-top: 0.25rem;
}
