.systray {
  border-radius: $default-border-radius;
  box-shadow: $box-shadow;
  background-color: rgba($background, 0.3);
  margin-right: 10px;
}

.systray menuitem {
  margin: 0px 4px 0px 4px;
}

.systray menu {
  background-color: rgba($background, 0.8);
  border-radius: $default-border-radius;
  padding: 8px 0 8px 0;
}

.systray menu menuitem {
  padding: 5px 20px 5px 20px;
  border-radius: $default-border-radius;
  color: $foreground;

  &:hover {
    background-color: $color10;
  }
}

// .tray_box {
//   @include window;
//   min-width: 10rem;
//   min-height: 1.5rem;
// }
//
// .tray_button {
//   border-radius: 0.5rem;
//   padding: 0 0.5rem;
//   margin: 0 0.25rem;
//   transition: 0.3s;
//   font-size: 1.5rem;
// }
//
// .tray_button:hover {
//   background-color: $color10
// }
//
// tooltip {
//   background-color: $background;
//   color: $foreground;
//   padding: 1rem;
//   border-radius: 1rem;
// }
//
// menu {
//   background-color: $background;
//   border-radius: 1rem;
//   padding: 0.75rem;
//   color: $foreground;
//   font-size: 1.1rem;
// }
//
// menu>menuitem {
//   padding: 0.5rem 1rem;
//   transition: 0.3s;
//   border-radius: 1rem;
// }
//
// menu>menuitem:hover {
//   background-color: mix($background, $foreground, 70%);
// }
